---
interface Props {
  name: string;
  role: string;
  image: string;
}

const { name, role, image } = Astro.props;
---

<article class="flex w-fit flex-col items-center justify-center gap-y-2">
  <img src={image} alt={name} class="size-20 rounded-full" />
  <div class="text-center">
    <p class="text-heading text-lg">{name}</p>
    <span class="text-sm">{role}</span>
  </div>
</article>
