---
import Button from "@/components/button.astro";
---

<header class="fixed top-0 z-50 w-full bg-transparent py-6 backdrop-blur-xs">
  <div class="wrapper flex items-center justify-between">
    <img
      src="/src/assets/logo.webp"
      alt="Malbecode logo"
      class="h-auto w-[25%]"
    />

    <nav class="space-x-4">
      <a href="#">Home</a>
      <a href="#services">Servicios</a>
      <a href="#us">Nosotros</a>
      <a href="#testimonials">Testimonios</a>
      <Button>Contactanos</Button>
    </nav>
  </div>
</header>
