---
import ServiceCard from "@/components/service-card.astro";
import { CARDS } from "@/lib/constants.astro";
---

<section class="relative mt-40 grid gap-y-20">
  <div
    class="absolute -top-[15%] -left-[5%] -z-10 h-[130%] w-[110%] rounded-xl bg-black/10"
  >
  </div>
  <h3 class="text-heading text-center text-4xl font-semibold">
    Nuestro Servicios
  </h3>

  <div class="grid grid-cols-3 grid-rows-2 gap-4">
    {
      CARDS.map((card) => (
        <ServiceCard title={card.title} description={card.description}>
          <card.icon class="mb-4 size-12" />
        </ServiceCard>
      ))
    }
  </div>
</section>
