---
import UserCard from "@/components/user-card.astro";
import { USERS } from "@/lib/constants.astro";
---

<section class="mt-40 grid gap-y-20">
  <h3 class="text-heading text-center text-4xl font-semibold">
    Nuestro Equipo
  </h3>

  <div class="grid grid-cols-7 gap-y-20">
    {
      USERS.map((user, i) => {
        const position = [
          "col-start-2 col-span-1",
          "col-start-4 col-span-1",
          "col-start-6 col-span-1",
          "col-start-3 col-span-1",
          "col-start-5 col-span-1",
        ];

        return (
          <div class={`${position[i]} flex justify-center`}>
            <UserCard name={user.name} role={user.role} image={user.image} />
          </div>
        );
      })
    }
  </div>
</section>
