---
import BgSvg from "@/components/features-cards/bg-svg.astro";
---

<BgSvg />

{/* container */}
<div class="absolute right-4 bottom-0 h-52 w-64 overflow-hidden rounded-t-md border border-b-0 border-zinc-600 bg-[#010100] shadow-2xl shadow-zinc-800 xl:w-72">
  {/* window header */}
  <div class="flex h-6 w-full items-center gap-1 border-b border-zinc-700 bg-[#111111] px-2">
    {/* three circles */}
    <div class="size-2 rounded-full border-2 border-zinc-700"></div>
    <div class="size-2 rounded-full border-2 border-zinc-700"></div>
    <div class="size-2 rounded-full border-2 border-zinc-700"></div>
  </div>

  {/* main */}
  <div class="relative h-full w-full p-4">
    {/* flow nodes */}
    <div class="flex flex-col items-center gap-4">
      {/* first row */}
      <div class="flex items-center gap-4">
        <div class="mini-automation-node size-8 rounded border border-purple-600/40 bg-purple-950/20"></div>
        <div class="mini-automation-node size-8 rounded border border-orange-600/40 bg-orange-950/20"></div>
      </div>

      {/* second row */}
      <div class="mini-automation-node size-8 rounded border border-blue-600/40 bg-blue-950/20"></div>

      {/* third row */}
      <div class="flex items-center gap-4">
        <div class="mini-automation-node size-8 rounded border border-green-600/40 bg-green-950/20"></div>
        <div class="mini-automation-node size-8 rounded border border-red-600/40 bg-red-950/20"></div>
      </div>
    </div>

    {/* connection lines */}
    <div class="absolute top-0 left-0 h-full w-full">
      <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path d="M 30 20 L 70 20" class="mini-automation-line" />
        <path d="M 50 28 L 50 45" class="mini-automation-line" />
        <path d="M 30 70 L 70 70" class="mini-automation-line" />
      </svg>
    </div>
  </div>
</div>